<h1><%= @user.name %>'s Detail Page</h1>
    <h3>Personal Details</h3>
        <ul>
            <li>Gender: <%= @user.gender %></li>
            <li>Age: <%= @user.age_calculation %></li>
            <li>Living?: <%= @user.alive %></li>
        </ul>
        <%= button_to "Edit Profile", edit_user_path(@user), method: :get %>
        <%= button_to "Users Page", users_path, method: :get %>