<h4><div><%= story.user_experience.user.name %> added a story to <%= story.user_experience.user.possessive_pronoun %> Bucketry blog <%= display_created_date story %> <%= display_created_time story %>!</div></h4>
<h3><%= link_to story.title, story_path(story) %></h4>
<p><%= story.content[0..400] %></p>