<% if user_experience.completed == true %>

<h3><%= link_to user_experience.user.name, user_path(user_experience.user) %> checked <%= link_to user_experience.activity.name, activity_path(user_experience.activity) %> off <%= user_experience.user.possessive_pronoun %> bucket list
<%= display_update_date user_experience %> <%= display_update_time user_experience %>!</h3>

<% else %>

<h4>
<%= link_to user_experience.user.name, user_path(user_experience.user) %> added 
<%= link_to user_experience.activity.name, activity_path(user_experience.activity) %> to 
<%= user_experience.user.possessive_pronoun %> bucket list.</h4>

<% end %>