<!DOCTYPE html>
<html>
  <head>
    <title>Bucketry</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class = 'home-bar'>
    <span><%= button_to "Home", {controller: :pages, action: :index}, {method: :get, class: 'button'} %></span>
    <span><%= button_to "About Us", {controller: :pages, action: :about}, {method: :get, class: 'button'} %></span>
    <span><%= button_to "Blog", {controller: :stories, action: :index}, {method: :get, class: 'button'} %></span>
    <span><%= button_to "Community Page", {controller: :users, action: :index}, {method: :get, class: 'button'} %></span>
    <span><%= button_to "Add Items to Your Bucketry List", {controller: :activities, action: :index}, {method: :get, class: 'button'} %></span>
    <span><%= button_to "Bucketry Categories", {controller: :categories, action: :index}, {method: :get, class: 'button'} %></span>

    <% if !session[:user_id] %>
        <span><%= button_to 'Join Bucketry', {controller: :users, action: :new}, {method: :get, class: 'button'} %></span>
        </nav>  
    <% else %>
        </nav>
        <nav class = "profile">
        <span><%= button_to "My Bucketry Profile", {controller: :users, action: :show, id: session[:user_id]}, {method: :get, class: 'button'} %></span>
    <% end %>

    <% if session[:user_id] %>
    <span><%= button_to "Logout", {controller: :sessions, action: :logout}, {method: :post, class: 'button'} %></span>
    <span>Hello, <%= session[:name] %></span>
    <% else %>
      <nav class = "profile">
      <span><%= button_to "Login", {controller: :sessions, action: :new}, {method: :get, class: 'button'} %></span>
    <% end %>
    </nav>
  <% if flash["error"] %>
    <div class="error"><%= image_tag 'red_bucket.png', {alt: 'A red bucket', size: "25"} %> <%= flash["error"] %></div>
  <% end %>
    <%= yield %>

  </body>
</html>
